/*
 * Copyright (C) 2013-2014 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "apollo-common.dtsi"

/ {
	model = "Aesys 1504A (i.MX6 Quad/Dual)";
	compatible = "aesys,imx6q-apollo", "umobo,imx6q-silverbullet", "fsl,imx6q";

	regulators {
		ad799x_vref: ad799x_3p3v {
			compatible = "regulator-fixed";
			regulator-name = "ad799x_vref";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		reg_1p8v: 1p8v {
			compatible = "regulator-fixed";
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: 2p5v {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	sound {
		compatible = "fsl,imx6q-sabrelite-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6q-sabrelite-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <3>;
	};
};

&i2c1 {
	/* Freescale SGTL5000 Audio */
	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDD-supply = <&reg_1p8v>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};

	/* Analog Devices AD7997 ADC */
	ad799x@22 {
		compatible = "adi,ad7997";
		reg = <0x22>;
		adi,vref = /bits/ 16 <3300>;
	};

	/* Microchip MCP9801 temperature sensor */
	mcp9801@48 {
		compatible = "microchip,mcp980x";
		reg = <0x48>;
	};

	/* Semtech SX8651 touchscreen */
	sx8651@49 {
		compatible = "semtech,sx8651";
		reg = <0x49>;
		interrupt-parent = <&gpio2>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
	};

	/* ST M24C08 EEPROM */
	m24c08@50 {
		compatible = "st,24c08";
		reg = <0x50>;
	};

	/* ST M41T11 realtime clock */
	/* (using compatible driver for ST M41T00 */
	m41t11@68 {
		compatible = "st,m41t00";
		reg = <0x68>;
	};
};

&mxcfb1 {
	/* Set default LCD mode */
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "lcd";
	interface_pix_fmt = "RGB24";
	mode_str ="AMPIRE-AM480272MNTMQW-T00H";
	default_bpp = <16>;
	int_clk = <0>;
	late_init = <0>;
	status = "ok";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&usdhc1 {
	non-removable;
	keep-power-in-suspend;
	enable-sdio-wakeup;
};
